/* @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@900&display=swap'); */

code {
	/* border: 1px solid yellow; */
	font-size: 0.8em;
	background: rgb(245, 236, 236);
}
:is(.invite, .title, .youtube-container, .code-container) {
	display: flex;
	justify-content: center;
	align-items: center;
}

:is(.icons, .date-icons, .share) {
	display: flex;
}

.icons,
.date {
	/* border: 1px solid blue; */
	width: 50%;
	padding: 5px;
}

.ctn,
.code-container {
	/* border: 1px solid blue; */
	width: 90%;
	margin: 0 auto;
}

.code-container2 {
	/* border: 1px solid blue; */
	width: 60%;
	margin: 0 auto;
}

.code-container2 img {
	width: 100%;
}

.img-ctn,
.img-ctn img,
.code-container img {
	width: 100%;
}

.icons li {
	float: left;
	display: block;
	padding: 0 5px;
	text-align: center;
	text-decoration: none;
}

.icons {
	justify-content: flex-end;
	border: 1px solid red;
}

.icons2 {
	border: 1px solid red;
	margin: 0 auto;
	justify-content: center;
}

.date {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.date-icons {
	/* border: 1px solid red; */
}

.invite {
	background-color: rgb(245, 236, 67);
	color: rgb(102, 97, 5) !important;
	align-items: center;
	padding: 12px;
	font-weight: 900;
	font-size: 15px;
	position: fixed;
	z-index: 1;
	top: 0;
	width: 100%;
}

.title {
	/* border: 1px solid red; */
	width: 70%;
	padding: 10px;
	font-size: 2em;
	line-height: 1.4;
	/* color: rgb(60, 60, 59); */
	text-align: center;
	margin: 50px auto 30px;
}

.paragraph,
.sub-title,
h2 {
	/* border: 2px solid red; */
	width: 50%;
	margin: 30px auto;
	padding: 10px;
	font-size: 1.25em;
}

blockquote {
	/* border: 2px solid green; */
	width: 90%;
	margin: 30px auto;
	padding: 5px;
	font-size: 1.5em;
	text-align: center;
	/* word-spacing: 1px;
	letter-spacing: 1px; */
}

.sub-title {
	font-size: 1.6em;
}

a {
	color: inherit;
	text-decoration: none;
}

.paragraph a {
	padding: 2px 0px 1px;
	background: linear-gradient(
		transparent 0%,
		transparent calc(50% - 9px),
		rgba(0, 255, 0, 0.35) calc(50% - 9px),
		rgba(0, 255, 0, 0.35) 100%
	);
	background-size: 100% 200%;
	background-position: 0px 0px;
	word-break: break-word;
}

.youtube-container {
	/* border: 2px solid green; */
}

h2 {
	/* border: 1px solid red; */
	font-size: 1.8em;
}

.share {
	border: 1px solid yellow;
	justify-content: flex-end;
	width: 55%;
	margin: 45px auto 0;
}

.share span {
	align-self: center;
}

.share ul {
	width: 35%;
}

.share-img {
	width: 50%;
	margin: 0 auto;
}

.divider {
	border: 1px solid red;
	margin-top: 10px;
	width: 100%;
	position: relative;
}

.divider2 {
	margin-top: 60px;
}

.line {
	width: 90%;
	margin: 45px auto;
	border-top: 3px solid rgb(211, 205, 205);
}

.line2 {
	width: 50%;
}

.divider p {
	background: white;
	padding: 5px 10px;
	position: absolute;
	top: 0;
	left: 45%;
	font-weight: 900;
	font-size: 1.5em;
}

.rel-topics {
	/* border: 1px solid green; */
	width: 90%;
	margin: 10px auto;
	display: flex;
}

.topics {
	/* border: 2px dashed cyan; */
	flex: 1;
	margin-right: 15px;
	cursor: pointer;
}

.topics2 {
	margin-right: 0;
}

.tags {
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	flex-wrap: wrap;
	border: 1px solid black;
	padding: 10px;
}

.tag {
	background: rgb(246, 247, 249);
	color: rgb(60, 60, 59);
	font-weight: bold;
	text-decoration: none;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	width: auto;
	line-height: 1em;
	box-shadow: rgb(194 202 214) 0px 0.2em, rgb(194 202 214) 0px -0.2em,
		rgb(194 202 214) 0.2em 0px, rgb(194 202 214) -0.2em 0px;
	padding: 10px;
	font-size: 0.9rem;
	margin: 0px 10px 10px 0px;
	cursor: pointer;
}

.tag:hover {
	background: rgba(2, 66, 2, 0.35);
	box-shadow: rgba(2, 97, 2, 0.35) 0px 0.2em, rgba(2, 97, 2, 0.35) 0px -0.2em,
		rgba(2, 97, 2, 0.35) 0.2em 0px, rgba(2, 97, 2, 0.35)-0.2em 0px;
}
